{{- if .Values.rbac.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "fleet-management-operator.fullname" . }}-manager-role
  labels:
    {{- include "fleet-management-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - fleetmanagement.grafana.com
  resources:
  - pipelines
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - fleetmanagement.grafana.com
  resources:
  - pipelines/finalizers
  verbs:
  - update
- apiGroups:
  - fleetmanagement.grafana.com
  resources:
  - pipelines/status
  verbs:
  - get
  - patch
  - update
{{- end }}
